p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

h3 {
    text-align: center;
}

p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.intro {
    text-align: center
}

body { 
    background-color: burlywood;
}

p {
    background-color:green;
}

p {
    text-align: center
}
img {
    display: block;
    margin: auto;
    width: 50%;
}

#title {
    font-size: 200%;
}